.columns{
    display: flex;
    gap: 20px;
}

.column{
    flex: 1;
    border: 1px solid #cccccc;
    padding: 10px;
}

.card-input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.card-input:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.card h3 {
    margin-top: 0;
    color: #2c3e50;
}
.item-input {
    width: 74%;
    padding: 6px;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

li {
    margin: 5px 0;
}

input[type="checkbox"] {
    margin-right: 8px;
}