<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0,maximum-scale =1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="js/vue.js"></script>
    <script deger src="js/main.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>Notes App</title>
</head>
<body>
    <div id="app">
        <div class="columns">
            <div class="column">
                <h2>Столбец 1 (Заголовки)</h2>
                <input v-model="newTitle" @keyup.enter="addCard" placeholder="Новый заголовок" :disabled="columns.column1.length >= 3" class="card-input">
                <button @click="addCard" :disabled="columns.column1.length >= 3">Добавить</button>
                <div v-for="(card, index) in columns.column1" :key="index" class="card">
                    <h3>{{ card.title }}</h3>
                    <ul>
                        <li v-for="(item, i) in card.items" :key="i">
                            <input type="checkbox" v-model="card.items[i].done">
                            {{ item.text }}
                        </li>
                    </ul>
                    <input v-model="newItem" @keyup.enter="addListItem(card)" placeholder="Новый пункт" class="item-input">
                    <button @click="addListItem(card)">Добавить пункт</button>
                </div>
            </div>
            <div class="column">Столбец 2(Списки)</div>
            <div class="column">Столбец 3(Завершено)</div>
        </div>
    </div>
</body>